body{
    background-color: rgb(236, 233, 233);
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    /* height: 75vh; */
    align-items: center;
}
.calculator{
    box-sizing: border-box;
    height: 600px;
    width: 400px;
    background-color: rgb(156, 156, 156);
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.display{
    background-color: rgb(236,233,233);
    width: 350px;
    padding: 30px 20px;
    font-size: 50px;
    text-align: right;
    border: 2px solid black;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;

    
}

.clear{
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    width: 172px;
    font-size: 26px;

}

.delete{
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    width: 172px;
    margin-bottom: 15px;
    font-size: 26px;
    


}

.buttons{
    height: 375px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
    
}

.btn, .btn-op {
    padding: 20px;
    width: 80px;
    height: 75px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 26px;
}

.btn:hover, .btn-op:hover, .clear:hover, .delete:hover{
    background-color: rgb(219, 219, 219);
}
.btn:active, .btn-op:active, .clear:active, .delete:active{
    background-color: rgb(168, 168, 170);
}

.btn-op.equal {
    background-color: rgb(126, 182, 247);
}
.btn-op.equal:hover{
    background-color: rgb(109, 168, 236);
}
.btn-op.equal:active{
    background-color: rgb(90, 148, 214);
}